h1 Soundcloud 
div.soundcloud
 div.section
  input#sc-search.search(type="text" placeholder="Take a look around")
 -for(var i in charts){
 -if(charts.hasOwnProperty(i)){
 -var topChart = charts[i];
  div.section
   div.title Hottest tracks in #{i}
   div.streams
    -for(var i2 in topChart){
    -if(topChart.hasOwnProperty(i2)){
    -var artistName = (topChart[i2].track.user.full_name !== ""? topChart[i2].track.user.full_name : topChart[i2].track.user.username)
    div.stream-el(data-stream="#{topChart[i2].track.permalink_url}" data-artist="#{topChart[i2].track.user.full_name}" data-title="#{topChart[i2].track.title}" data-albumart="#{topChart[i2].track.artwork_url}" data-duration="#{topChart[i2].track.duration}")
     div.image
      -var smallerArtwork = topChart[i2].track.artwork_url.toString().replace('t500x500', 't200x200');
      img(src="#{smallerArtwork}")
      div.overlay
       div.playIcon.fa.fa-play
     label #{topChart[i2].track.title}
    -}}}}
script(type="text/javascript" src="/plugins/soundcloud/sc.js")
link(rel="stylesheet" type="text/css" href="/plugins/soundcloud/stylesheet.css")
|<script type="text/javascript">console.log('it works')</script>